.body {
    margin-left: 10px;
    margin-right: 10px;
}

h1 {
    font-family: Arial, Georgia, 'Times New Roman', Times;
}

.top {
    background-color: #dbdae0;
    padding-top: 6px;
    padding-bottom: 6px;
}

#title {
    font-size: 60px;
}

#logobottomleft {
    display: flex;
    justify-content: center;
}

.centerImg {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 12px;
    column-gap: 12px;
    height: 32em;
}

.left {
    background-color: #b3b1b1;
    max-width: 30em;
    width: 30em;
}

.right {
    background-color: #cecdcf;
    max-width: 61.25em;
    width: 61.25em;
}

.bottom {
    margin-top: 12px;
    background-color: #d6cece;
}

.explanation {
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.component {
    width: 120px;
    height: 50px;
    margin: 12px;
    color: white;
    background-color: rgb(49, 46, 46);
    border-radius: 12px;
}

.component:hover {
    width: 135px;
    height: 55px;
    background-color: rgb(65, 62, 62);
}

.animateInRight {
    position: relative;
    animation-name: moveRightToLeft;
    animation-duration: 2s;
    text-align: center;
}

.rotateAround {
    position: relative;
    animation-name: rotate;
    animation-duration: 2s;
    text-align: center;
}

.border {
    border-style: solid;
    border-width: medium;
}

.topic {
    padding-left: 12px;
}
  
@keyframes moveRightToLeft {
  from {right: -350px;}
  to {right: 0;}
}

@keyframes spinVertical {
     from {transform: rotateX(0);}
     to {transform: rotateX(-360deg);}
}

@keyframes rotate{
   0%{transform: rotate(0deg);}
   50%{ transform: rotate(180deg);}
   100%{transform: rotate(360deg);}
}